@import 'https://www.nerdfonts.com/assets/css/webfont.css';
@import "@catppuccin/tailwindcss/mocha.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Corrigir problemas de overflow em dispositivos móveis */
html, body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.typed-cursor {
  @apply w-60 font-bold text-transparent;
}

.animated-gradient-text {
  @apply animate-colorchange bg-gradient-to-r from-ctp-teal via-ctp-lavender bg-clip-text text-transparent;
}

.nf {
  font-family: 'FiraCode Nerd Font Mono', monospace !important;
}

.skill-svg-container svg,
.skill-svg-container-modal svg {
  width: 100%;
  height: 100%;
}

.skill-svg-container-modal path,
.skill-svg-container-modal circle,
.skill-svg-container-modal rect,
.skill-svg-container-modal polygon {
  fill: url(#skillGradientModal) !important;
}
